<div style="position: center">
  <table align="center" >
    <tr>
      <div style="padding-top: 25px;padding-bottom: 25px;" align="center">
        <img src="https://scontent.flim9-1.fna.fbcdn.net/v/t1.0-9/159341014_1057045314781391_5915948019837320942_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=vnarT9vNQT0AX_q_1az&_nc_ht=scontent.flim9-1.fna&oh=d9f5ee248cdb4ca8a278ef48831a50ca&oe=60767713" width="200px" height="110px" style="border-radius: 20px">
      </div>
    <tr align="center">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 10px;width: 48rem;">
        <div class="container-fluid" style="margin-left: auto;margin-right: auto" >
          <div class="collapse navbar-collapse" style="margin-left: auto;margin-right: auto">
            <ul style="color: white;margin-left: auto;margin-right: auto" class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
              <li >Inicio</li>
              <li>Buscar</li>
              <li>Mercado Metinero</li>
              <li><button id="boton" class="btn btn-outline-success" type="submit">Postear</button></li>
              <li>Noticias Metineras</li>
              <li>Blog</li>
              <li>FAQ</li>
            </ul>
          </div>
        </div>
      </nav>
    </tr>
    <tr >
      <table align="center">
        <th>
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a66f333332919.56a84344447ec.jpg" width="150px" height="500px ">
        </th>
        <th style="vertical-align: top">
          <div  class="card bg-dark text-white" style="max-width: 50rem; margin-top: 25px;margin-bottom: 25px;margin-left: 50px;margin-right: 50px; border-radius: 10px;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 10px;width: 48rem">
              <div class="container-fluid" style="margin-left: auto;margin-right: auto" >
                <div class="collapse navbar-collapse" style="margin-left: auto;margin-right: auto" >
                  <ul style="color: white" class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" >
                    <li >Server:<input ></li>
                    <i class="bi bi-alarm"></i>
                    <li>Categoría:<input></li>
                    <li>Raza:<input></li>
                  </ul>
                </div>
              </div>
            </nav>
            <table>
              <th>
                <div class="card" style="width: auto;margin: 25px">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </th>
              <th>
                <div class="card" style="width: auto;margin: 25px">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </th>
              <th>
                <div class="card" style="width: auto;margin: 25px">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </th>
            </table>
          </div>
        </th>
        <th>
          <img src="https://previews.123rf.com/images/messer16/messer161704/messer16170400052/77500264-anuncios-de-papas-fritas-ilustraci%C3%B3n-vectorial-realista-con-patatas-fritas-con-tocino-bandera-vertical-.jpg" width="150px" height="500px" >
        </th>
      </table>

    </tr>
  </table>
</div>

