<div style="position: center">
  <table align="center" >
    <tr>
      <div style="padding-top: 25px;padding-bottom: 25px;" align="center">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/53aa25c7-68cd-4e5e-917d-dcf9dcc77f66/dcjy20j-7fb99185-fbd1-4e38-a2fc-ab570f87b555.png" width="300px" height="150px" >
      </div>
    <tr align="center">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 10px;width: 48rem">
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul style="color: white" class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" >
              <li>Server:</li><input>
              <li>Categoría:</li><input>
              <li>Buscar:</li><input>
            </ul>
          </div>
        </div>
      </nav>
    </tr>
    <tr >
      <table align="center">
        <th>
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a66f333332919.56a84344447ec.jpg" width="150px" height="500px ">
        </th>
        <th style="vertical-align: top">
          <div  class="card bg-dark text-white" style="max-width: 50rem; margin-top: 25px;margin-bottom: 25px;margin-left: 50px;margin-right: 50px; border-radius: 10px;">
            <table>
              <th>
                <div class="card" style="width: auto;margin: 25px">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </th>
              <th>
                <div class="card" style="width: auto;margin: 25px">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </th>
              <th>
                <div class="card" style="width: auto;margin: 25px">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </th>
            </table>
          </div>
        </th>
        <th>
          <img src="https://previews.123rf.com/images/messer16/messer161704/messer16170400052/77500264-anuncios-de-papas-fritas-ilustraci%C3%B3n-vectorial-realista-con-patatas-fritas-con-tocino-bandera-vertical-.jpg" width="150px" height="500px" >
        </th>
      </table>

    </tr>
  </table>
</div>
